/* style.css */

/* General body styles for the blog page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Container styling */
  .container {
    max-width: 800px; /* Reduce the width as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
  }
  
  /* Styling for image links */
  .image-link {
    display: block;
    margin: 60px 0;
    text-decoration: none;
  }
  
  .image-link img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-link-expand {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .image-link-expand svg {
    fill: #ffffff;
    stroke: #ffffff;
  }
  
  /* Styling for headings */
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
  }
  
  h2 a {
    color: #007bff;
    text-decoration: none;
  }
  
  h2 a:hover {
    text-decoration: underline;
  }
  
  /* Styling for paragraphs */
  p {
    margin: 10px 0;
    color: #555;
  }
  
  /* Styling for links in paragraphs */
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Styling for horizontal rule */
  hr {
    border: 0;
    border-top: 1px solid #e1e1e1;
    margin: 20px 0;
  }
  